src-tauri/Microsoft.WebView2.FixedVersionRuntime.109.0.1518.78.x86/** linguist-vendored
msedge.dll filter=lfs diff=lfs merge=lfs -text

package.json text eol=lf
src-tauri/Cargo.toml text eol=lf
Cargo.lock text eol=lf
pnpm-lock.yaml text eol=lf
src/assets/auto-imports.json text eol=lf
src/lib/auto-imports.d.ts text eol=lf