name: build
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build_fixed-webview2:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: i686-pc-windows-msvc
          components: rust-std

      - uses: Swatinem/rust-cache@v2

      - run: |
          choco install jq -y

          jq --arg sha "${{ github.sha }}" --arg job "${{ github.job }}" '.version = (.version + "-" + $job + "-" + $sha + "-" + ((now + 8*3600) | strftime("%Y-%m-%dT%H-%M-%S+08:00")))' .\package.json > .\package.json.temp
          mv .\package.json.temp .\package.json -Force
          cat .\package.json


          pnpm install
          pnpm tauri build

          # 重命名 x64 安装程序为 x86（实际产物是x86的，受host环境影响变成x64标识）
          cd ./target/i686-win7-windows-msvc/release/bundle/nsis
          Get-ChildItem -Path . -Filter '*x64*.exe' -File | ForEach-Object {
            $new = $_.Name -replace 'x64','x86'
            if (-not (Test-Path $new)) { Rename-Item -LiteralPath $_.FullName -NewName $new }
          }
      - uses: actions/upload-artifact@v4
        with:
          name: chrm-rev_fixed-webview2
          path: ./target/i686-win7-windows-msvc/release/bundle/nsis/*

  build_skip-webview2:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: i686-pc-windows-msvc
          components: rust-std

      - uses: Swatinem/rust-cache@v2

      - run: |
          # 修改 tauri.conf.json  设置 webviewInstallMode 为 skip
          choco install jq -y
          jq '.bundle.windows.webviewInstallMode = {"type": "skip"}' .\src-tauri\tauri.conf.json > .\src-tauri\temp.json

          mv .\src-tauri\temp.json .\src-tauri\tauri.conf.json -Force
          cat .\src-tauri\tauri.conf.json

          jq --arg sha "${{ github.sha }}" --arg job "${{ github.job }}" '.version = (.version + "-" + $job + "-" + $sha + "-" + ((now + 8*3600) | strftime("%Y-%m-%dT%H-%M-%S+08:00")))' .\package.json > .\package.json.temp
          mv .\package.json.temp .\package.json -Force
          cat .\package.json

          pnpm install
          pnpm tauri build

          # 重命名 x64 安装程序为 x86（实际产物是x86的，受host环境影响变成x64标识）
          cd ./target/i686-win7-windows-msvc/release/bundle/nsis
          Get-ChildItem -Path . -Filter '*x64*.exe' -File | ForEach-Object {
            $new = $_.Name -replace 'x64','x86'
            if (-not (Test-Path $new)) { Rename-Item -LiteralPath $_.FullName -NewName $new }
          }

      - uses: actions/upload-artifact@v4
        with:
          name: chrm-rev_skip-webview2
          path: ./target/i686-win7-windows-msvc/release/bundle/nsis/*
