name: build
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
jobs:
  build_fixed-webview2:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: i686-pc-windows-msvc
          components: rust-std

      - uses: Swatinem/rust-cache@v2

      - run: |
          pnpm install
          pnpm tauri build

          # 重命名 x64 安装程序为 x86（实际产物是x86的，受host环境影响变成x64标识）
          cd ./target/i686-win7-windows-msvc/release/bundle/nsis
          Get-ChildItem -Path . -Filter '*x64*.exe' -File | ForEach-Object {
            $new = $_.Name -replace 'x64','x86'
            if (-not (Test-Path $new)) { Rename-Item -LiteralPath $_.FullName -NewName $new }
          }
      - uses: actions/upload-artifact@v4
        with:
          name: chrm-rev_fixed-webview2
          path: ./target/i686-win7-windows-msvc/release/bundle/nsis/*
  build_skip-webview2:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          targets: i686-pc-windows-msvc
          components: rust-std

      - uses: Swatinem/rust-cache@v2

      - run: |
          # 修改 tauri.conf.json  设置 webviewInstallMode 为 skip
          choco install jq -y
          cd ./src-tauri
          jq '.bundle.windows.webviewInstallMode = {"type": "skip"}' tauri.conf.json > temp.json
          pnpm install shx -g
          pnpm shx mv temp.json tauri.conf.json
          cd ..

          pnpm install
          pnpm tauri build

          # 重命名 x64 安装程序为 x86（实际产物是x86的，受host环境影响变成x64标识）
          cd ./target/i686-win7-windows-msvc/release/bundle/nsis
          Get-ChildItem -Path . -Filter '*x64*.exe' -File | ForEach-Object {
            $new = $_.Name -replace 'x64','x86'
            if (-not (Test-Path $new)) { Rename-Item -LiteralPath $_.FullName -NewName $new }
          }

      - uses: actions/upload-artifact@v4
        with:
          name: chrm-rev_skip-webview2
          path: ./target/i686-win7-windows-msvc/release/bundle/nsis/*
