name: ci
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm
      - run: |
          pnpm install
          pnpm type-check
          pnpm lint
          pnpm build
